.Rproj.user
.Rhistory
.RData
.Ruserdata

*.html

manuscript/manuscript\.pdf

manuscript/supplemental\.pdf

*.rds

src/stan_models/\.Rapp\.history

src/\.Rapp\.history

results/blum_allClines\.Rdata

results/mallet_allClines\.Rdata

results/thurman_allClines\.Rdata

*.tif
